<div class="space"></div>
<div class="grid-container">
<div class="card">
<div class="center">
    <h1>Usuarios</h1>
      </div>
      
      <div *ngIf="users.length === 0"class="center">
        <p>No hay ingresos disponibles.</p>
      </div>
      
      <div *ngIf="users.length > 0"class="center">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th></th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ determineRol(user)}}</td>
                    <td>
                        <button *ngIf="user.rol ==1">Volver Admin</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
</div>
</div>
