<div class="container login-container" [@fadeInOut]>
    <div class="row justify-content-center">
       <div class="col-md-6 mt-3">
         <div class="card">
           <div class="card-header">Registrar nuevo genero</div>
           <div class="card-body">
             <form [formGroup]="generosStoreForm" (ngSubmit)="onSubmit()">
               <div class="mb-3">
                    <label for="name">Nombre</label>
                    <input
                       type="text"
                       id="nombre" 
                       formControlName="nombre"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': generosStoreForm.get('nombre')?.touched && generosStoreForm.get('nombre')?.invalid }"
                       placeholder="Nombre"
                    />
                    <div *ngIf="generosStoreForm.get('nombre')?.errors" class="invalid-feedback">
                       <div *ngIf="generosStoreForm.get('nombre')?.errors?.['required']">
                         El nombre es requerido.
                       </div>
                    </div>
                   </div>
                   <button type="submit" [disabled]="isLoading" class="btn btn-primary" (click)="onSubmit()">
                    <span *ngIf="!isLoading">Guardar</span>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                   </button>
               </form>
           </div>
         </div>
       </div>
    </div>
   </div>
   