<div class="container login-container" [@fadeInOut]>
    <div class="row justify-content-center">
       <div class="col-md-6 mt-3">
         <div class="card">
           <div class="card-header">Registrar nuevo cine</div>
           <div class="card-body">
             <form [formGroup]="cinesStoreForm" (ngSubmit)="onSubmit()">
               <div class="mb-3">
                    <label for="name">Nombre</label>
                    <input
                       type="text"
                       id="nombre" 
                       formControlName="nombre"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': cinesStoreForm.get('nombre')?.touched && cinesStoreForm.get('nombre')?.invalid }"
                       placeholder="Nombre"
                    />
                    <div *ngIf="cinesStoreForm.get('nombre')?.errors" class="invalid-feedback">
                       <div *ngIf="cinesStoreForm.get('nombre')?.errors?.['required']">
                         El nombre es requerido.
                       </div>
                    </div>
                   </div>
                   <div class="mb-3">
                    <label for="dirección">Direccion</label>
                    <input
                       type="text"
                       id="dirección"
                       formControlName="dirección"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': cinesStoreForm.get('dirección')?.touched && cinesStoreForm.get('dirección')?.invalid }"
                       placeholder="Direccion"
                    />
                    <div *ngIf="cinesStoreForm.get('dirección')?.errors" class="invalid-feedback">
                       <div *ngIf="cinesStoreForm.get('dirección')?.errors?.['required']">La dirección es requerida.</div>
                       <div *ngIf="cinesStoreForm.get('dirección')?.errors?.['minLength']">La dirección debe contener almenos 10 caracteres.</div>
                    </div>
                   </div>
                   <div class="mb-3">
                    <label for="password">Ciudad</label>
                    <input
                       type="text"
                       id="ciudad"
                       formControlName="ciudad"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': cinesStoreForm.get('ciudad')?.touched && cinesStoreForm.get('ciudad')?.invalid }"
                       placeholder="Ciudad" 
                    />
                    <div *ngIf="cinesStoreForm.get('ciudad')?.errors" class="invalid-feedback">
                       <div *ngIf="cinesStoreForm.get('ciudad')?.errors?.['required']">La ciudad es requerida.</div>
                       <div *ngIf="cinesStoreForm.get('ciudad')?.errors?.['minLength']">La ciudad debe contener almenos 6 caracteres.</div>

                    </div>
                   </div>
                   <div class="mb-3">
                     <label for="capacidad_total">Capacidad total</label>
                     <input
                       type="number"
                       id="capacidad_total"
                       formControlName="capacidad_total"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': cinesStoreForm.get('capacidad_total')?.touched && cinesStoreForm.get('capacidad_total')?.invalid }"
                       placeholder="Capacidad Total"
                     />
                     <div *ngIf="cinesStoreForm.get('capacidad_total')?.errors" class="invalid-feedback">
                       <div *ngIf="cinesStoreForm.get('capacidad_total')?.errors?.['required']">La capacidad total es requerida.</div>
                     </div>
                   </div>
                   <button type="submit" [disabled]="isLoading" class="btn btn-primary" (click)="onSubmit()">
                    <span *ngIf="!isLoading">Guardar</span>
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                   </button>
               </form>
           </div>
         </div>
       </div>
    </div>
   </div>
   