<div class="full-background">
  <div class="card">
    <h2>Editar Mesero</h2>
    <form [formGroup]="meseroForm" (ngSubmit)="actualizarMesero()">
      <div class="form-group">
        <input
          type="text"
          id="Nombre"
          formControlName="Nombre"
          class="form-control"
          placeholder="Nombre del mesero"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="meseroForm.get('Nombre')?.invalid && meseroForm.get('Nombre')?.touched"
        >El nombre es obligatorio.
        </div>
      </div>
      <button type="submit" class="btn-primary" [disabled]="meseroForm.invalid || isLoading">
        <span *ngIf="!isLoading">Actualizar Mesero</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</div>
