<div class="center">
    <h1>Ingresos Por Mes</h1>
      </div>
      <div class="container login-container mt-3" [@fadeInOut]="cargando ? 'void' : 'in'">
        <div *ngIf="!cargando; else cargandoTemplate">
      <div *ngIf="ingresos.length === 0"class="center">
        <p>No hay ingresos disponibles.</p>
      </div>
      
      <div *ngIf="ingresos.length > 0"class="center">
        <h2>Historia de Ingresos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Ingresos</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingreso of ingresos">
                    <td>{{ ingreso._id.fecha }}</td>
                    <td>$ {{ ingreso.totalIngresos | number:'1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <ng-template #cargandoTemplate>
      <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        <div class="ms-3">Cargando datos...</div>
      </div>
    </ng-template>
    </div>
