<div class="full-background">
  <div class="login-container">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center mb-4">Verificación de 2 pasos</h3>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <i class="fas fa-lock input-icon"></i>
            <input
              type="number"
              id="code"
              formControlName="code"
              class="form-control"
              placeholder="XXXXXX"
              [ngClass]="{
                'is-invalid':
                  authForm.get('code')?.touched && authForm.get('code')?.invalid
              }"
            />
            <div
              *ngIf="
                authForm.get('code')?.touched && authForm.get('code')?.invalid
              "
              class="invalid-feedback"
            >
              <div *ngIf="authForm.get('code')?.errors?.['required']">
                El código es requerido.
              </div>
              <div *ngIf="authForm.get('code')?.errors?.['minlength']">
                El código debe tener 6 caracteres.
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block">
            <span *ngIf="!isLoading">Ingresar</span>
            <span
              *ngIf="isLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>