<div class="container login-container mt-3" [@fadeInOut]="cargando ? 'void' : 'in'">
    <div class="row justify-content-center" *ngIf="!cargando; else cargandoTemplate">
        <table class="table">
            <thead class="table-primary">
              <tr>
                <th>Sala</th>
                <th>Pelicula</th>
                <th>Fecha</th>
                <th>Hora de Inicio</th>
                <th *ngIf="rolId == 3">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let funcion of funciones">
                <td>{{ getSalaNombre(funcion.sala_id) }}</td>
                <td>{{ getPeliculaNombre(funcion.pelicula_id) }}</td>
                <td>{{ funcion.fecha }}</td>
                <td>{{ funcion.hora_inicio }}</td>
                <td *ngIf="rolId == 3">
                  <button [routerLink]="['/funciones/edit', funcion.id]" class="btn btn-primary btn-spacing"><i class="bi bi-pencil"></i></button>
                  <button (click)="confirmDelete(funcion.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
             </div>

             <ng-template #cargandoTemplate>
              <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                 <div class="spinner-border text-primary" role="status">
                   <span class="visually-hidden">Cargando...</span>
                 </div>
                 <div class="ms-3">
                   Cargando datos...
                 </div>
              </div>
             </ng-template>
             
   </div>
   