<div class="page-header">
  <h1>Entregadas</h1>
</div>
<div *ngIf="orders.length === 0" class="no-orders">
  <p>No hay órdenes disponibles con el estado seleccionado.</p>
</div>
<div class="grid-container">
  <div class="card orders-container">
    <h2>Lista de Órdenes</h2>
    <div class="order-grid">
      <div *ngFor="let order of orders" class="order-card">
        <div *ngFor="let orders of order.ordenes">
          <div class="order-header">
            <h3>Orden #{{ orders.id }}</h3>
            <div class="order-info">
              <p><span>Fecha:</span> {{ orders.fecha | date: 'mediumDate'}}</p>
              <p><span>Status:</span> {{ orders.status }}</p>
              <p><span>Hora:</span> {{ orders.hora }}</p>
            </div>
          </div>
          <div class="order-details">
            <h4>Productos</h4>
            <div class="product-grid">
              <div class="product-item" *ngFor="let producto of orders.productos">
                <img [src]="producto.img" alt="{{ producto.name }}" class="product-img">
                <div class="product-details">
                  <h5>{{ producto.name }}</h5>
                  <p>{{ producto.description }}</p>
                  <p><span>Precio:</span> {{ producto.price }}</p>
                  <p><span>Cantidad:</span> {{ getProductQuantity(orders, producto.id) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>