<div class="container login-container" [@fadeInOut]>
    <div class="row justify-content-center">
       <div class="col-md-6 mt-3">
         <div class="card">
           <div class="card-header">Registrar boleto</div>
           <div class="card-body">
             <form [formGroup]="boletosStoreForm" (ngSubmit)="onSubmit()">
               <div class="mb-3">
                    <label for="name">Funcion</label>
                    <select class="form-select" formControlName="id_funcion">
                        <option selected>Selecciona una funcion</option>
                        <option *ngFor="let funcion of funciones" [value]="funcion.id">{{ funcion.sala_id }}</option>
                       </select>
                       
                    <div *ngIf="boletosStoreForm.get('id_funcion')?.errors" class="invalid-feedback">
                       <div *ngIf="boletosStoreForm.get('id_funcion')?.errors?.['required']">
                         Por favor selecciona una funcion.
                       </div>
                    </div>
                   </div>
                   <div class="mb-3">
                    <label for="name">Usuario</label>
                    <select class="form-select" formControlName="id_user">
                        <option selected>Selecciona un usuario</option>
                        <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
                       </select>
                       
                    <div *ngIf="boletosStoreForm.get('id_user')?.errors" class="invalid-feedback">
                       <div *ngIf="boletosStoreForm.get('id_user')?.errors?.['required']">
                         Por favor selecciona un usuario.
                       </div>
                    </div>
                   </div>
                   <div class="mb-3">
                    <label for="fila">Fila</label>
                    <input
                       type="string"
                       id="fila"
                       formControlName="fila"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': boletosStoreForm.get('fila')?.touched && boletosStoreForm.get('fecha')?.invalid }"
                       
                    />
                    <div *ngIf="boletosStoreForm.get('fila')?.errors" class="invalid-feedback">
                       <div *ngIf="boletosStoreForm.get('fila')?.errors?.['required']">La fila es requerida.</div>
                    </div>
                   </div>
                   <div class="mb-3">
                    <label for="asiento">Asiento</label>
                    <input
                       type="number"
                       id="asiento"
                       formControlName="asiento"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': boletosStoreForm.get('asiento')?.touched && boletosStoreForm.get('capacidad')?.invalid }"
                       placeholder="Asiento" 
                    />
                    <div *ngIf="boletosStoreForm.get('asiento')?.errors" class="invalid-feedback">
                       <div *ngIf="boletosStoreForm.get('asiento')?.errors?.['required']">El asiento es requerida.</div>
                    </div>
                   </div>
                   <div class="mb-3">
                    <label for="precio">Precio</label>
                    <input
                       type="number"
                       id="precio"
                       formControlName="precio"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': boletosStoreForm.get('precio')?.touched && boletosStoreForm.get('capacidad')?.invalid }"
                       placeholder="Precio" 
                    />
                    <div *ngIf="boletosStoreForm.get('precio')?.errors" class="invalid-feedback">
                       <div *ngIf="boletosStoreForm.get('precio')?.errors?.['required']">El precio es requerida.</div>
                    </div>
                   </div>
                   <button type="submit" [disabled]="isLoading" class="btn btn-primary" (click)="onSubmit()">
                     <span *ngIf="!isLoading">Guardar</span>
                     <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
               </form>
           </div>
         </div>
       </div>
    </div>
   </div>
   