<!-- data-table.component.html -->
<div class="content-container">
  
    <div class="table-container">
      <table class="data-table">
        <thead>
          <tr class="table-header">
            <th>Identificador</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Mesero ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datos" class="data-row">
            <td>{{ item.data.identificador }}</td>
            <td>{{ item.data.descripcion }}</td>
            <td>{{ item.data.valor }}</td>
            <td>{{ item.data.meseroID }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>