<!-- data-table.component.html -->
<div class="content-container">
  <div class="container login-container" [@fadeInOut]="cargando ? 'void' : 'in'">
    <div *ngIf="!cargando; else cargandoTemplate">
    <div class="table-container">
      <table class="data-table">
        <thead>
          <tr class="table-header">
            <th>Identificador</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Mesero ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datos" class="data-row">
            <td>{{ item.identificador }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.meseroID }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #cargandoTemplate>
    <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <div class="ms-3">Cargando datos...</div>
    </div>
  </ng-template>
</div>
  </div>