<div class="container login-container mt-3" [@fadeInOut]="cargando ? 'void' : 'in'">
    <div class="row justify-content-center" *ngIf="!cargando; else cargandoTemplate">
        <table class="table">
            <thead class="table-primary">
              <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Capacidad Total</th>
                <th *ngIf="rolId != 1">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cine of cines">
                <td>{{ cine.nombre }}</td>
                <td>{{ cine['dirección'] }}</td>
                <td>{{ cine.ciudad }}</td>
                <td>{{ cine.capacidad_total }}</td>
                <td *ngIf="rolId != 1">
                  <button [routerLink]="['/cines/edit', cine.id]" class="btn btn-primary"><i class="bi bi-pencil"></i></button>
                  <button (click)="confirmDelete(cine.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
             </div>

             <ng-template #cargandoTemplate>
              <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                 <div class="spinner-border text-primary" role="status">
                   <span class="visually-hidden">Cargando...</span>
                 </div>
                 <div class="ms-3">
                   Cargando datos...
                 </div>
              </div>
             </ng-template>
             
   </div>
   