<nav class="navbar navbar-expand-lg" style="background-color: #0062A1;">
  <div class="container-fluid">
   <img class="icon" src="https://pbs.twimg.com/profile_images/1724074562604744704/7OangAlw_400x400.jpg" alt="robotito">
     <a class="navbar-brand" >Roborestaurant</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="hasAuthToken" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Combos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="rolId == 3" routerLink="/combos/create">Crear Combo</a></li>
            <li><a class="dropdown-item" routerLink="/combos/index">Ver Combos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="hasAuthToken" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Generos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="rolId != 1" routerLink="/generos/create">Crear Genero</a></li>
            <li><a class="dropdown-item" routerLink="/generos/index">Ver Generos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="hasAuthToken" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="rolId == 3" routerLink="/productos/create">Crear Producto</a></li>
            <li><a class="dropdown-item" routerLink="/productos/index">Ver Productos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="hasAuthToken" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Peliculas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="rolId == 3" routerLink="/peliculas/create">Crear Pelicula</a></li>
            <li><a class="dropdown-item" routerLink="/peliculas/index">Ver Pelicula</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="hasAuthToken" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Funciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="rolId == 3" routerLink="/funciones/create">Crear funcion</a></li>
            <li><a class="dropdown-item" routerLink="/funciones/index">Ver Funciones</a></li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="/users/index" *ngIf="hasAuthToken && rolId == 3">Usuarios</a></li>
        <li><a class="nav-link" routerLink="/logs" *ngIf="hasAuthToken && rolId == 3">Logs</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="hasAuthToken" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Boletos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="rolId == 3" routerLink="/boletos/create">Crear boleto</a></li>
            <li><a class="dropdown-item" routerLink="/boletos/index">Ver Boletos</a></li>
          </ul>
        </li>
        <li><a class="nav-item" *ngIf="rolId == 3" routerLink="/product-list/index">productos</a></li>
        <li><a class="nav-item" *ngIf="rolId == 3" routerLink="/cart/index">carro</a></li>
       </ul>
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div id="ninth" class="buttonbox" >
         <li class="nav-item "style="border-radius: 10px;margin-right: 10px" *ngIf="!hasAuthToken" >
           <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
         </li>
        </div>
        <div id="ninth" class="buttonbox" >
         <li class="nav-item" style="border-radius: 10px;" *ngIf="!hasAuthToken">
           <a class="nav-link" routerLink="/register" >Regitrarse</a>
         </li>
        </div>
         <li class="nav-item" *ngIf="hasAuthToken">
          <button class="nav-link"  (click)="logOut($event)">Cerrar Sesión</button>
        </li>
       </ul>
     </div>
  </div>
 </nav>
 <router-outlet style="background-color: black;"/>
 