 @import '../styles.css';

.icon{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

#ninth>li{
    transition:all .5s ease-in-out;
    background: #B2C5FF;
  }
  
  #ninth:hover li{
    background:white;
    color:#ff9292;
    border-radius: 10px;
  }