// Paleta de colores
$background-color: #f7f7f7;
$navbar-color: #2d2d2d;
$primary-color: #2d2d2d;
$secondary-color: #757575;
$accent-color: #ff6d00;
$text-color: #ffffff;

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
  color: $primary-color;
  padding-top: 56px; // Ajusta este valor según el alto de tu navbar
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: $navbar-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;

  .navbar-brand {
    color: $text-color;
    font-weight: bold;
  }

  .nav-link {
    color: $text-color;

    &:hover {
      color: $accent-color;
    }
  }

  .dropdown-menu {
    background-color: $navbar-color;
    border: none;

    .dropdown-item {
      color: $text-color;

      &:hover {
        background-color: lighten($navbar-color, 5%);
        color: $accent-color;
      }
    }
  }

  .buttonbox {
    margin-left: 10px;

    .nav-item {
      background-color: transparent;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten($navbar-color, 5%);
        color: $accent-color;
      }
    }
  }
}

/* Estilos adicionales */
.icon {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: 10px;
}

/* Estilos para el contenido principal */
.main-content {
  margin-top: 56px; // Ajusta este valor según el alto de tu navbar
}