<div class="page-header">
  <div class="center">
    <h1>En proceso</h1>
  </div>
</div>
<div *ngIf="orders.length === 0" class="no-orders center">
  <p>No hay órdenes disponibles con el estado seleccionado.</p>
</div>
<div class="grid-container">
  <div class="card orders-container">
    <div class="full-background">
      <div class="pos-container">
        <h2>Lista de Órdenes</h2>
        <div class="order-row">
          <ng-container *ngFor="let order of orders">
            <div class="order-card">
              <div *ngFor="let pedido of order.ordenes" class="order-details">
                <div class="order-header">
                  <h3>Orden #{{ pedido.id }}</h3>
                  <div class="order-info">
                    <p><span>Status:</span> {{ pedido.status }}</p>
                    <p><span>Fecha:</span> {{ pedido.fecha | date: 'mediumDate' }}</p>
                    <p><span>Hora:</span> {{ pedido.hora }}</p>
                  </div>
                </div>
                <h4>Productos</h4>
                <div class="product-grid">
                  <div *ngFor="let producto of pedido.productos" class="product-item">
                    <img [src]="producto.img" alt="{{ producto.name }}" class="product-img">
                    <div class="product-details">
                      <h5>{{ producto.name }}</h5>
                      <p><span>Precio:</span> {{ producto.price | currency }}</p>
                      <p><span>Cantidad:</span> {{ getProductQuantity(pedido, producto.id) }}</p>
                    </div>
                  </div>
                </div>
                <div class="order-actions">
                  <button (click)="changestatus(pedido.id, pedido)">Siguiente</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>