<div class="container mt-3" [@fadeInOut]="cargando ? 'void' : 'in'">
    <div class="row justify-content-center" *ngIf="!cargando; else cargandoTemplate">
        <table class="table">
            <thead class="table-primary">
              <tr>
                <th>Usuario</th>
                <th>Metodo</th>
                <th>Url</th>
                <th>IP</th>
                <th>Agente</th>
                <th>Query</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of logs">
                <td>{{ getUserNombre(log.user) }}</td>
                <td>{{ log.metodo }}</td>
                <td>{{ log.url }}</td>
                <td>{{ log.ip }}</td>
                <td>{{ log.agent }}</td>
                <td>
                  <pre *ngIf="log.datos">{{ formatDatos(log.datos) }}</pre>
                  <span *ngIf="!log.datos && log.query">{{ log.query }}</span>
                </td>
              </tr>
            </tbody>
          </table>
             </div>

             <ng-template #cargandoTemplate>
              <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                 <div class="spinner-border text-primary" role="status">
                   <span class="visually-hidden">Cargando...</span>
                 </div>
                 <div class="ms-3">
                   Cargando datos...
                 </div>
              </div>
             </ng-template>
             
   </div>
   
