<div class="container login-container" [@fadeInOut]>
    <div class="row justify-content-center">
       <div class="col-md-6 mt-3">
         <div class="card">
           <div class="card-header">Actualizar pelicula</div>
           <div class="card-body">
              <form [formGroup]="peliculasEditForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                     <label for="titulo">Titulo</label>
                     <input
                        type="text"
                        id="titulo" 
                        formControlName="titulo"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': peliculasEditForm.get('titulo')?.touched && peliculasEditForm.get('titulo')?.invalid }"
                        placeholder="Titulo"
                     />
                     <div *ngIf="peliculasEditForm.get('titulo')?.errors" class="invalid-feedback">
                        <div *ngIf="peliculasEditForm.get('titulo')?.errors?.['required']">
                          El titulo es requerido.
                        </div>
                     </div>
                    </div>
                    <div class="mb-3">
                     <label for="sinopsis">Sinopsis</label>
                     <input
                        type="text"
                        id="sinopsis"
                        formControlName="sinopsis"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': peliculasEditForm.get('sinopsis')?.touched && peliculasEditForm.get('sinopsis')?.invalid }"
                        placeholder="Sinopsis"
                     />
                     <div *ngIf="peliculasEditForm.get('sinopsis')?.errors" class="invalid-feedback">
                        <div *ngIf="peliculasEditForm.get('sinopsis')?.errors?.['required']">La sipnosis es requerida.</div>
                     </div>
                    </div>
                    <div class="mb-3">
                      <label for="duracion">Duracion</label>
                      <input
                        type="number"
                        id="duracion"
                        formControlName="duracion"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': peliculasEditForm.get('duracion')?.touched && peliculasEditForm.get('duracion')?.invalid }"
                        placeholder="Duracion"
                      />
                      <div *ngIf="peliculasEditForm.get('duracion')?.errors" class="invalid-feedback">
                        <div *ngIf="peliculasEditForm.get('duracion')?.errors?.['required']">La duracion es requerida.</div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="clasificacion">Clasificacion</label>
                      <input
                         type="text"
                         id="clasificacion"
                         formControlName="clasificacion"
                         class="form-control"
                         [ngClass]="{ 'is-invalid': peliculasEditForm.get('clasificacion')?.touched && peliculasEditForm.get('clasificacion')?.invalid }"
                         placeholder="Clasificacion"
                      />
                      <div *ngIf="peliculasEditForm.get('clasificacion')?.errors" class="invalid-feedback">
                         <div *ngIf="peliculasEditForm.get('clasificacion')?.errors?.['required']">La clasificacion es requerida.</div>
                      </div>
                     </div>
                    <div class="mb-3">
                      <label>Generos</label>
                      <div *ngFor="let genero of generos">
                        <input type="checkbox" (change)="toggleGenero(genero, $event)" [checked]="isGeneroSeleccionado(genero)"> {{ genero.nombre }}
                      </div>
                      <div *ngIf="peliculasEditForm.get('generos')?.errors" class="invalid-feedback">
                        <div *ngIf="peliculasEditForm.get('generos')?.errors?.['required']">
                          Por favor selecciona almenos un genero.
                        </div>
                      </div>
                    </div>
                    <button type="submit" [disabled]="isLoading" class="btn btn-primary" (click)="onSubmit()">
                      <span *ngIf="!isLoading">Guardar</span>
                      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                     </button>
            </form>
           </div>
         </div>
       </div>
    </div>
   </div>
   
  