<nav>
  <button (click)="showComponent = 'pendientes'" class="nav-button">Pendientes</button>
  <button (click)="showComponent = 'enProceso'" class="nav-button">En Proceso</button>
  <button (click)="showComponent = 'canceladas'" class="nav-button">Canceladas</button>
  <button (click)="showComponent = 'entregadas'" class="nav-button">Entregadas</button>
</nav>

<div [ngSwitch]="showComponent" class="grid-container">
  <div *ngSwitchCase="'pendientes'" class="card">
    <app-ordenes></app-ordenes>
  </div>
  <div *ngSwitchCase="'enProceso'" class="card">
    <app-ordenes-en-proceso></app-ordenes-en-proceso>
  </div>
  <div *ngSwitchCase="'canceladas'" class="card">
    <app-ordenes-rechazadas></app-ordenes-rechazadas>
  </div>
  <div *ngSwitchCase="'entregadas'" class="card">
    <app-ordenes-terminadas></app-ordenes-terminadas>
  </div>
</div>