$primary-color: #2E3192;
$secondary-color: #A6A8D7;
$accent-color: #E63946;
$background-color: #F1F3F5;
$text-color: #333;
img{
    width: 200px;
    height: 200px;
    align-self: center;
}
.card{
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}
.btn-primary {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }