<div class="full-background">
  <div class="grid-container">
    <div class="product-section">
      <h2 class="text-center mb-4">Menú</h2>
      <div *ngIf="products.length === 0" class="no-products text-center">
        <p>No hay productos disponibles.</p>
      </div>
      <div *ngIf="products.length > 0" class="row product-list">
        <div *ngFor="let product of products" class="col-md-4 mb-4">
          <div class="card product-item">
            <img [src]="product.img" class="card-img-top" alt="producto">
            <div class="card-body">
              <h3 class="card-title">{{ product.name }}</h3>
              <p class="card-text">{{ product.description }}</p>
              <div class="input-group mb-3">
                <input type="number" class="form-control" id="cantidadInput" name="cantidadInput" #cantidadInput value="1" min="1">
                <label for="cantidadInput">Cantidad:</label>
                <input type="number" class="form-control" id="cantidadInput" name="cantidadInput" #cantidadInput value="1" min="1" placeholder="Ingrese la cantidad">
              </div>
              <p class="card-text">Precio: {{ product.price | currency }}</p>
              <button class="btn btn-primary btn-block" (click)="addToCart(product, cantidadInput.value)">Agregar al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-section">
      <app-cart></app-cart>
    </div>
  </div>
</div>