<div class="container login-container"[@fadeInOut]="cargando ? 'void' : 'in'">
  <div class="row justify-content-center" *ngIf="!cargando; else cargandoTemplate">
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-header">Actualizar genero</div>
          <div class="card-body">
            <form [formGroup]="generosEditForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  id="nombre" 
                  formControlName="nombre"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': generosEditForm.get('nombre')?.touched && generosEditForm.get('nombre')?.invalid }"
                  placeholder="Nombre"
                />
                <div *ngIf="generosEditForm.get('nombre')?.errors" class="invalid-feedback">
                  <div *ngIf="generosEditForm.get('nombre')?.errors?.['required']">
                    El nombre es requerido.
                  </div>
                </div>
              </div>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary" (click)="onSubmit()">
                <span *ngIf="!isLoading">Guardar</span>
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
               </button>
            </form>
          </div>
      </div>
    </div>
  </div>
  <ng-template #cargandoTemplate>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <div class="ms-3">
        Cargando datos...
      </div>
    </div>
  </ng-template>
</div>

