<div class="center">
    <h1>Productos Por Semana</h1>
      </div>
      <div class="container login-container mt-3" [@fadeInOut]="cargando ? 'void' : 'in'">
        <div *ngIf="!cargando; else cargandoTemplate">
      <div *ngIf="productos.length === 0" class="center">
        <p>No hay Productos disponibles.</p>
      </div>
      
      <div *ngIf="productos.length > 0" class="center">
        <div *ngFor="let productoGroup of productos" class="card">
          <h3>{{ productoGroup._id }}</h3>
          <table>
            <thead>
              <tr>
                <th>Nombre de Producto</th>
                <th>Cantidad</th>
                <th>Ingresos Totales</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productoGroup.productos">
                <td>{{ product.producto }}</td>
                <td>{{product.totalQuantity}}</td>
                <td>$ {{ product.totalIngresos | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
        <br />
      </div>
    </div>
    <ng-template #cargandoTemplate>
      <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        <div class="ms-3">Cargando datos...</div>
      </div>
    </ng-template>
    </div>

