/* robot-list.component.scss */
.robot-list-title {
    font-size: 2rem;
    margin-top: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .robot-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  .robot-item {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .robot-info {
    flex: 1;
  }
  
  .robot-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .robot-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  }
    .robot-button-create {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      float: right;
      margin-right: 10px;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: #0056b3;
      }
    }
    .robot-button-del {
      padding: 0.5rem 1rem;
      background-color: #ff0000;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: #b30000;
      }
    }
    