@import '../../styles.css';

// Paleta de colores
$primary-color: #2E3192;
$secondary-color: #A6A8D7;
$accent-color: #E63946;
$background-color: #F1F3F5;
$text-color: #333;

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px; // Aumentado el ancho máximo
  margin: 0 auto;
}

.card-header {
  background-color: $primary-color;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
}

form {
  padding: 30px 10px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 1.5rem; // Aumentado el margen inferior
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.input-icon {
  color: $primary-color;
  margin-right: 10px;
}

.form-control {
  font-size: 16px;
  padding: 10px 10px 10px 30px; // Ajustado el padding para separar del icono
  display: block;
  width: 100%;
  border: 2px solid $secondary-color;
  background-color: transparent;
  color: $text-color;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.invalid-feedback {
  color: $accent-color;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn-block {
  display: block;
  width: 100%;
}